.container {
  margin: auto;
  width: 80vw;
  text-align: center;
}

.users{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.user-card{
  background-color: salmon;
  width: 20vw;
  height: 20vh;
}